rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isRole (role) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role
    }

    match /lessons/{lessId} {
      allow read: if isRole('STUDENT') || isRole('ADMIN')
    }

    match /users/{userId} {
      allow read: if (userId == request.auth.uid)  || isRole('ADMIN')
    }

    match /lesson_records/{lessonRecordId} {
      allow read: if (resource.data.user_id == request.auth.uid) || isRole('ADMIN')
      allow write: if request.resource.data.user_id == request.auth.uid
    }
  }
}